[build-system]
requires = [
    "setuptools>=42",
    "wheel"
]
build-backend = "setuptools.build_meta"

[tool.coverage.run]
source = ["symcirc"]
omit = ["tests/*", "tests/**"]

[tool.coverage.report]
omit = ["tests/*", "tests/**"]